:root,
[data-bs-theme=light] {
    /*Cor do botão home*/
    --cor-home--button: #212529;

    --cor-de-fundo-transpartente: rgba(255, 255, 255, 0.69);
    --cor-de-fundo-nav-button: rgb(255, 255, 255);

    /*Cores botao*/
    --cor-fundo-button: #8971a6;
    --cor-fundo-button-hover: #c194f7;
    --cor-texto-button: #FFFFFF;

    /*Cores inputs*/
    --cor-fundo-input: #573d80;
    --cor-fundo-input-secundario: #c194f7;
    --cor-fundo-input-select-hover: #59239e;

    --cor-texto-input: #FFFFFF;

    /*Cor do texto*/
    --cor-texto: #000000;
    --cor-texto-secundario: #0068ff;
    --cor-titulo: #573d80;

    /*Cor tabela*/
    --cor-fundo-cabecalho: #573d80;

    /*Cor resultado predict*/
    --cor-fundo-predict: #573d80;

    --background-color: #f8f9fa;
}

[data-bs-theme=dark] {
  color-scheme: dark;
    /*Cor do botão home*/
    --cor-home--button: #FFFFFF;

    /*Cores Fundo*/
    --cor-de-fundo-transpartente: rgba(87, 61, 128, 0.69);
    --cor-de-fundo-nav-button: rgb(87, 61, 128);

    /*Cores botao*/
    --cor-fundo-button: #8971a6;
    --cor-fundo-button-hover: #c194f7;
    --cor-texto-button: #FFFFFF;

    /*Cores inputs*/
    --cor-fundo-input: #8971a6;
    --cor-fundo-input-secundario: #573d80;
    --cor-fundo-input-select-hover: #c194f7;

    --cor-texto-input: #FFFFFF;

    /*Cor do texto*/
    --cor-texto: #FFFFFF;
    --cor-texto-secundario: #4995ff;
    --cor-titulo: #c194f7;

    /*Cor tabela*/
    --cor-fundo-cabecalho: #c194f7;

    /*Cor resultado predict*/
    --cor-fundo-predict: #c194f7;

    --background-color: #343a40;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor-de-fundo-nav-button);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#theme-switch:hover {
    transform: scale(1.1);
}

#theme-switch.clicked:hover {
    transform: scale(0.9);
}

#theme-switch:active {
    transform: scale(0.9);
}

#theme-switch svg {
    fill: var(--cor-texto);
}

#theme-switch .sun-icon,
#theme-switch .moon-icon {
    display: none;
}

[data-bs-theme="light"] #theme-switch .moon-icon {
    display: block;
}

[data-bs-theme="dark"] #theme-switch .sun-icon {
    display: block;
}

#homeButton {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor-de-fundo-nav-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#homeButton:hover {
    transform: scale(1.1);
}

#homeButton.clicked:hover {
    transform: scale(0.9);
}

#homeButton:active {
    transform: scale(0.9);
}

#homeButton svg {
    fill: var(--cor-home--button);
}



