{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="ctn_base">
    <div class="ctn_secondary text-center center_div">
        <div style="width: 80%">
            <h3 style="font-size: 1.6rem; color: #c194f7;">DASHBOARD</h3>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar" ></button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            {% if uploaded_file %}
                <p>Arquivo carregado: {{ uploaded_file }}</p>
            {% else %}
                <p style="font-size: 21.5px;">Nenhum arquivo carregado.</p>
            {% endif %}
            <div>
                <a href="{{ url_for('upload') }}">
                    <button class="btn btn-primary"
                        style="color: white; border-radius: 2rem; border: none; background-color: #8971a6; padding: 10px 20px; text-decoration: none; transition: background-color 0.3s ease, color 0.3s ease;"
                        onmouseover="this.style.backgroundColor='#5d4c70'; this.style.color='white';"
                        onmouseout="this.style.backgroundColor='#8971a6'; this.style.color='white';">
                        UPLOAD
                    </button>
                </a>

                {% if uploaded_file %}
                <a href="{{ url_for('predcit') }}">
                    <button class="btn btn-primary"
                            style="color: white; border-radius: 2rem; border: none; background-color: #8971a6; padding: 10px 20px; text-decoration: none; transition: background-color 0.3s ease, color 0.3s ease;"
                            onmouseover="this.style.backgroundColor='#5d4c70'; this.style.color='white';"
                            onmouseout="this.style.backgroundColor='#8971a6'; this.style.color='white';">
                            PREDICT
                    </button>
                </a>

                <a href="{{ url_for('analytics') }}">
                    <button class="btn btn-primary"
                            style="color: white; border-radius: 2rem; border: none; background-color: #8971a6; padding: 10px 20px; text-decoration: none; transition: background-color 0.3s ease, color 0.3s ease;"
                            onmouseover="this.style.backgroundColor='#5d4c70'; this.style.color='white';"
                            onmouseout="this.style.backgroundColor='#8971a6'; this.style.color='white';">
                            ANALYTICS
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}