{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="ctn_base">
    <div class="ctn_secondary center_div">
        <div>
            <h1 class="display-5 fw-bold">Video Game Sales - Analytics</h1>
            <p class="fs-4">Este é o conteúdo da página inicial, estilizado com Bootstrap.</p>
            <div class="center_div">
                <a href="{{ url_for('dashboard') }}"><button class="btn btn-primary" style="border-radius: 20px">DASHBOARD</button></a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
