{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<style>
    .ctn_secondary {
        width: 95%;
    }
    #plots_box {
        width: 100%;
        max-height: 550px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #plots_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        border: black 1px solid;
        border-radius: 20px;
    }
    #plot {
        flex: 1 1 calc(50% - 20px);
        box-sizing: border-box;
    }
    #plots_box::-webkit-scrollbar {
        width: 12px;
    }
    #plots_box::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    #plots_box::-webkit-scrollbar-thumb {
        background: #8971a6;
        border-radius: 10px;
    }

    #plots_box::-webkit-scrollbar-thumb:hover {
        background: #5d4c70;
    }
</style>
<div class="ctn_base">

    <div class="ctn_secondary text-center center_div" style="height: 80%">

        <div style="width: 100%; height: 100%">

            <h1 style="font-size: 23px;">interactive graph</h1>
            <div style="width: 100%; display: flex; justify-content: space-between">
                <a href="{{ url_for('dashboard') }}">
                    <button class="button">DASHBOARD</button>
                </a>

                <a href="{{ url_for('analytics') }}">
                    <button class="button">ANALYTICS</button>
                </a>
            </div>
            <hr>

            <div id="loading-spinner" style="display: flex; justify-content: center; align-items: center; height: auto;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>

            <div id="main-content" style="display: none;">
                <!-- Seu conteúdo existente -->
                <div id="plots_box">
                    <div id="plot" style="display: flex; justify-content: center; height: 100%">
                        {{ interactive_plot|safe }}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var images = document.querySelectorAll('#main-content img');
        var totalImages = images.length;
        var imagesLoaded = 0;

        if (totalImages === 0) {
            document.getElementById('loading-spinner').style.display = 'none';
            document.getElementById('main-content').style.display = 'block';
        } else {
            images.forEach(function(img) {
                if (img.complete) {
                    imagesLoaded++;
                    if (imagesLoaded === totalImages) {
                        document.getElementById('loading-spinner').style.display = 'none';
                        document.getElementById('main-content').style.display = 'block';
                    }
                } else {
                    img.addEventListener('load', function() {
                        imagesLoaded++;
                        if (imagesLoaded === totalImages) {
                            document.getElementById('loading-spinner').style.display = 'none';
                            document.getElementById('main-content').style.display = 'block';
                        }
                    });
                    img.addEventListener('error', function() {
                        imagesLoaded++;
                        if (imagesLoaded === totalImages) {
                            document.getElementById('loading-spinner').style.display = 'none';
                            document.getElementById('main-content').style.display = 'block';
                        }
                    });
                }
            });
        }
    });
</script>
{% endblock %}