{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<style>
    :root {
        --bs-primary-hover-bg: #5d4c70;
        --bs-primary-hover-border-color: #5d4c70;
        --bs-primary-hover-color: #5d4c70;
    }

    [data-bs-theme="dark"] {
        --bs-primary-hover-bg: #5d4c70;
        --bs-primary-hover-border-color: #5d4c70;
        --bs-primary-hover-color: #5d4c70;
    }

    #upload_file_box {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        gap: 0;
    }

    .upload-label {
        cursor: pointer;
        text-align: center;
        margin-bottom: 0;
        background-color: #8971a6; <-- meche a cor principal não a de fundo
        color: white;
        padding: 8px;
        border-radius: 20px 0 0 20px;
        transition: background-color 0.3s ease-in-out;
        border: 1px solid #8971a6;
    }

    .upload-label:hover {
        background-color: #5d4c70;
    }

    .file-name {
        flex: 1;
        padding: 8px;
        border-top: 1px solid #8971a6;
        border-bottom: 1px solid #8971a6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
    }

    .btn-upload {
        padding: 8px;
        border-radius: 0 20px 20px 0;
        background-color: #8971a6;    JA FOI
        color: white;
        border: 1px solid #8971a6;
        transition: background-color #8971a6;
    }

    .btn-upload:hover {
        background-color: #5d4c70;
    }

    form input[type="file"] {
        display: none;
    }

    .invalid-feedback {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        color: #dc3545;
    }
</style>
<div class="ctn_base">
    <div class="ctn_secondary center_div">
        <div style="width: 80%">
            <h3 style="font-size: 22px; text-align: center;">upload arquivo</h3>


            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show bg-danger" style="color: white" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div id="upload_file_box">
                    <!-- Input de arquivo escondido -->
                    <input type="file" name="file" id="file" required />

                    <!-- Label que atua como botão -->
                    <label for="file" class="upload-label">Escolher arquivo</label>

                    <!-- Elemento para exibir o nome do arquivo -->
                    <span id="file-name" class="file-name">Nenhum arquivo selecionado</span>

                    <!-- Botão de upload -->
                    <button type="submit" class="btn-upload">Upload</button>

                    <div class="invalid-feedback">Por favor, selecione um arquivo.</div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputFile = document.getElementById('file');
        var fileNameSpan = document.getElementById('file-name');

        inputFile.addEventListener('change', function() {
            if (this.files && this.files.length > 0) {
                var fileName = this.files[0].name;
                fileNameSpan.textContent = fileName;
            } else {
                fileNameSpan.textContent = 'Nenhum arquivo selecionado';
            }
        });
    });
</script>

{% endblock %}
