{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #upload_file_box {
            display: flex;

            width: 100%;
            border-radius: 20px;
            gap: 0;

            align-items: center;
        }

        .upload-label {
            margin-bottom: 0;
            padding: 8px;
            border-radius: 20px 0 0 20px;

            text-align: center;
            border: 1px solid #8971a6;
            cursor: pointer;

            background-color: #8971a6;
            color: white;

            transition: background-color 0.3s ease-in-out;
        }

        .upload-label {
            background-color: var(--cor-fundo-button);
        }

        .upload-label:hover {
            background-color: var(--cor-fundo-button-hover);
        }

        .file-name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;

            padding: 8px;

            border-top: 1px solid #8971a6;
            border-bottom: 1px solid #8971a6;

            text-overflow: ellipsis;
            font-style: italic;
        }

        .btn-upload {
            padding: 8px;
            border-radius: 0 20px 20px 0;
            
            border: 1px solid #8971a6;

            background-color: #8971a6;
            color: white;

            transition: background-color 0.3s ease-in-out;
        }

        .btn-upload {
            background-color: var(--cor-fundo-button);
        }

        .btn-upload:hover {
            background-color: var(--cor-fundo-button-hover);
        }

        form input[type="file"] {
            display: none;
        }

        .invalid-feedback {
            margin-top: 10px;

            width: 100%;

            text-align: center;
            
            color: #dc3545;
        }
    </style>
{% endblock %}

{% block content %}

<div class="ctn_base">
    <div class="ctn_secondary center_div">
        <div style="width: 80%">
            <h1 style="text-align: center;">upload arquivo</h1>


            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show bg-danger" style="color: white" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div id="upload_file_box">
                    <!-- Input de arquivo escondido -->
                    <input type="file" name="file" id="file" required />

                    <!-- Label que atua como botão -->
                    <label for="file" class="upload-label">Escolher arquivo</label>

                    <!-- Elemento para exibir o nome do arquivo -->
                    <span id="file-name" class="file-name">Nenhum arquivo selecionado</span>

                    <!-- Botão de upload -->
                    <button type="submit" class="btn-upload">Upload</button>

                    <div class="invalid-feedback">Por favor, selecione um arquivo.</div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputFile = document.getElementById('file');
        var fileNameSpan = document.getElementById('file-name');

        inputFile.addEventListener('change', function() {
            if (this.files && this.files.length > 0) {
                var fileName = this.files[0].name;
                fileNameSpan.textContent = fileName;
            } else {
                fileNameSpan.textContent = 'Nenhum arquivo selecionado';
            }
        });
    });
</script>

{% endblock %}
